<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issues Page</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <form action="/show" method="post">

        <h1 class="heading">List of Issues</h1>

        <% for(let i=0;i<data.length;i++){ %>
            <h1 class="heading">
                <%= data[i].username %>
            </h1>
            </n>
            <h4 class="heading">
                <%= data[i].userlocation %>
            </h4>
            <h4 class="heading">
                <%= data[i].userproblem %>
            </h4>
            </n>

            <img src=<%=data[i].image %> ><br>
            <button>Message</button>
            <button type="button" onClick="onClick()">👍Vote</button>
            <p>Votes: <a id="clicks">0</a></p>

            <hr style="width:100%;height:2px;color:#00005C ;background-color:#00005C ">

            <%}%>

            

    </form>
    <script>
        var clicks = 0;

    function onClick() {
    clicks += 1;
    document.getElementById("clicks").innerHTML = clicks;
}
    </script>
</body>

</html>